[Unit]
Description=Pi webcam

[Service]
ExecStart=/home/tylerjl/uvc-gadget/piwebcam
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piwebcam
User=tylerjl
Group=tylerjl
WorkingDirectory=/home/tylerjl/uvc-gadget/

[Install]
WantedBy=basic.target
